/* area bounds */
.cms table.grid-field__table tr.groupable-bound td {
  /*padding-left: 26px;*/
  /*min-height: 32px;*/
  border-top: 2px solid #a6b6c1;
  border-bottom: 1px solid #a6b6c1;
  /*font-weight: bold;*/
  background-color: #dae2e7;
  cursor: default;

  font-size: 11px;
  padding-top: 5px;
  padding-bottom: 5px;
}
